.event {
  display: grid;
  grid-template-columns: min-content 2fr repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 6px 10px;
  border-top: solid 2px var(--orange-color);
}

.event:last-of-type {
  border-bottom: solid 2px var(--orange-color);
  margin-bottom: 25px;
}

.navigation.arrows {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-bottom: 25px;
  background-color: white;
}

.navigation.arrows > * {
  cursor: pointer;
}

.event img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 1;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
