#addshiftform .typeandtimeWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

#addshiftform input[type="submit"] {
  padding: 6px 1vw;
  background-color: transparent;
  border: solid 2px black;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 15px;
  transition: all 300ms;
}

#addshiftform input[type="submit"]:active {
  transform: scale(1.1);
}

#addshiftform input[type="submit"]:hover {
  color: var(--orange-color);
  border: solid 2px var(--orange-color);
}
