#showshiftbox h3 {
  text-transform: uppercase;
}

#showshiftbox .interruptionForm,
#showshiftbox .endShiftFormWrapper {
  display: block;
  animation: fadeIn 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#showshiftbox #endShiftForm .operationDetails {
  padding: 15px 0;
}

#showshiftbox .closeForm {
  width: 24px;
  float: right;
  cursor: pointer;
}

#showshiftbox .closeForm:hover {
  color: var(--orange-color);
}

#showshiftbox .callToActions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#showshiftbox .generalInfos {
  /* border: solid 1px red; */
  padding: 25px 0;
  line-height: 2rem;
}

#showshiftbox #addInterruptionForm,
#showshiftbox #endShiftForm {
  border-radius: 25px;
  padding: 25px 2vw;
  margin-top: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#addInterruptionForm input[type="submit"],
#endShiftForm input[type="submit"] {
  padding: 6px 1vw;
  background-color: transparent;
  border: solid 2px black;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  width: 80%;
  max-width: 200px;
  display: block;
  margin: auto;
  margin-top: 10px;
  transition: all 300ms;
}

#addInterruptionForm input[type="submit"]:active,
#endShiftForm input[type="submit"]:active {
  transform: scale(1.1);
}

#addInterruptionForm input[type="submit"]:hover,
#endShiftForm input[type="submit"]:hover {
  color: var(--orange-color);
  border: solid 2px var(--orange-color);
}

#showshiftbox .workersgrid,
#showshiftbox .interruptionsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 15px;
}

#showshiftbox .workersgrid .workerItem,
#showshiftbox .interruptionsgrid .interruptionItem {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  animation: fadeIn 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#showshiftbox .workersgrid .workerItem .startedshift,
#showshiftbox .workersgrid .workerItem .endedshift {
  display: flex;
  align-items: center;
  gap: 10px;
}

#showshiftbox .profileContainer {
  display: flex;
  align-items: center;
}

#showshiftbox .interruptionsgrid .interruptionItem {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5px;
  cursor: pointer;
}

#showshiftbox .interruptionsgrid .interruptionItem .interruptionWorkers {
  position: absolute;
  /* width: 80%; */
  left: 0;
  right: 0;
  bottom: 100%;
  /* background-color: var(--orange-white-color); */
  background-color: black;
  border: solid 1px black;
  color: white;
  padding: 10px;
  padding-bottom: 30px;
  line-height: 1.5rem;
  text-transform: capitalize;
  display: none;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 80%,
    55% 80%,
    35% 100%,
    40% 80%,
    0% 80%
  );
}

#showshiftbox .interruptionsgrid .interruptionItem .interruptionWorkers.show {
  display: block;
}

#showshiftbox .interruptionsgrid .interruptionItem .interruptionWorkers ul {
  margin: 0;
  /* padding: 0; */
  list-style-type: square;
}

#showshiftbox .interruptionsgrid .interruptionItem .interruptionWorkers ul li {
  margin: 0;
  padding: 0;
}

#showshiftbox .interruptionsgrid .interruptionItem.detailed {
  border: solid 1px red;
  /* scale: 2; */
}

#showshiftbox .interruptionsgrid .interruptionItem div > div:first-child {
  margin-bottom: 5px;
}

#showshiftbox h3:nth-of-type(3) {
  margin-top: 25px;
}

#endShiftForm .operationDetails {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  animation: fadeIn 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  #showshiftbox {
    padding-left: 10px;
    padding-right: 10px;
  }
}
