.ajs-message.ajs-custom {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #31708f;
}

.full-screen-container {
  /* background-color: #fff7ed; */
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, var(--orange-color) 50%, white 50%);
}

#signinform {
  border-radius: 10px;
}

#signinform h1 {
  /* text-align: center; */
  /* border: solid 1px red; */
  /* color: var(--orange-color); */
}

#signinform input[type="submit"] {
  padding: 6px 1vw;
  background-color: transparent;
  border: solid 2px black;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 15px;
  transition: all 300ms;
}

#signinform input[type="submit"]:active {
  transform: scale(1.1);
}

#signinform input[type="submit"]:hover {
  color: var(--orange-color);
  border: solid 2px var(--orange-color);
}
