.statsContainer {
  height: 100%;
  background-color: white;
  background-image: url(../img/undraw_under_construction_-46-pa.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.statsContainer p {
  text-transform: capitalize;
  color: var(--orange-color);
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
}
