.statsContainer {
  background: url(../img/undraw_under_construction_-46-pa.svg);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 2px red;
  height: 100%;
  /* height: 87.5vh; */
  /* background-color: white; */
  /* position: relative; */
}

.statsContainer h3 {
  margin-top: 0;
}

.marquee {
  height: 3rem;
  overflow: hidden;
  position: relative;
  background-color: var(--orange-color);
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

.marquee div {
  width: 200%;
  /* border: solid 1px blue; */
  position: absolute;
  overflow: hidden;
  animation: marquee 7s linear infinite;
  height: 60px;
  text-align: right;
}
.marquee span {
  float: left;
  width: 50%;
  font-size: 2rem;
}

@keyframes marquee {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
