#showworkerbox h3 {
  text-transform: uppercase;
}

#showworkerbox h3:not(:first-of-type) {
  margin-top: 25px;
}

#showworkerbox .workerGeneralInfos div {
  text-transform: capitalize;
}

#showworkerbox .workerGeneralInfos .photoContainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#showworkerbox .workerGeneralInfos .photoContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#showworkerbox .fingerprintcontainer {
  /* border: solid 3px black; */
  width: 250px;
  height: 250px;
  font-weight: bold;
  /* float: right; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#showworkerbox .workerGeneralInfos {
  min-height: 250px;
  padding-bottom: 30px;
  position: relative;
  /* border: solid 1px red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

#showworkerbox .workerGeneralInfos > :nth-child(2) {
  /* background-color: red; */
  justify-self: flex-end;
}

#showworkerbox .workerGeneralInfos div:not(:last-of-type) {
  line-height: 2rem;
}

#showworkerbox .findshifts {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#showworkerbox .workerstats {
  padding: 5px 0;
}

#showworkerbox .filterOptions {
  margin: 0;
  padding: 0;
}

#showworkerbox .shiftsgrid {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: row dense; */
  gap: 15px;
}

#showworkerbox .shiftsgrid .shiftItem {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px 1vw 40px 1vw;
  word-wrap: break-word;
  line-height: 1.6rem;
  position: relative;
  border-radius: 10px;
  animation: fadeIn 500ms;
}

#showworkerbox .shiftsgrid .shiftItem .shiftItemgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#showworkerbox .shiftsgrid .shiftItem .shiftinterruptionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding-top: 10px;
  /* border: solid 1px red; */
}
#showworkerbox .shiftsgrid .shiftItem .shiftinterruptionsList li {
  /* border: solid 1px red; */
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5px;
  align-items: flex-start;
  line-height: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#showworkerbox .shiftsgrid .shiftItem > div:first-of-type {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#showworkerbox .shiftsgrid .shiftItem .timeworked {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 5px 1vw;
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  #showworkerbox {
    padding: 2vh 20px;
  }
  #showworkerbox .fingerprintcontainer {
    float: none;
  }
}
#showworkerbox .startedshift,
#showworkerbox .endedshift {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 480px) {
  #showworkerbox {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content-wrapper.workerDetails {
}
