.workerscontainer h3 {
  margin-top: 0;
}

.workerscontainer .workersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1vw;
  padding: 25px 0;
}

.workerscontainer .workerCard {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2vh 1vw;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.workerscontainer .workerCard .profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.workerscontainer .seemore {
  font-style: italic;
  text-align: right;
  grid-column: 1 / span 2;
  margin-top: 10px;
}

.workerscontainer .workerCard:hover .seemore,
.workerscontainer .workerCard:hover .profileContainer {
  color: var(--orange-color);
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 4;

  /* position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 1vw;
  overflow-y: auto;
}
